################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudioEngine/AudioEngine/Debug
/AudioEngine/AudioEngine/Release
/AudioEngine/AudioEngineUnitTest/Debug
/AudioEngine/AudioEngineUnitTest/Release
/AudioEngine/AudioEngineWinTest/Debug
/AudioEngine/AudioEngineWinTest/AudioEngineWinTest
/AudioEngine/AudioEngineWinTest/AudioEngineWinTest/Debug
/AudioEngine/AudioEngineWinTest2/AudioEngineWinTest2/Debug
/AudioEngine/AudioEngineWinTest2/Debug
/AudioEngine/BasicElaborationUnits/Debug
/AudioEngine/Debug
/AudioEngine/InputOutput/Debug
/AudioEngine/Release
/SynAssember/BasicAudioControls/bin/Debug
/SynAssember/BasicEUSynthFactory/bin/Debug
/SynAssember/BasicEUSynthFactory/obj/x86/Debug
/SynAssember/BasicAudioControls/obj/Debug
/SynAssember/SynAssember/bin/Debug
/SynAssember/SynAssember/obj/x86/Debug
/SynAssember/SynthPanel/bin/Debug
/SynAssember/SynthPanel/obj/Debug
/SynAssember/SynthPanelTest/bin/Debug
/SynAssember/SynthPanelTest/obj/Debug
/SynAssember/SynAssember/bin
/SynAssember/InputOutputSynthFactory/obj/x86/Debug
/SynAssember/InputOutputSynthFactory/bin/Debug
/SynAssember/GeneralUtils/bin/Debug
/SynAssember/GeneralUtils/obj/Debug
/SynAssember/ClayAudioEngine/obj/x86/Debug
/SynAssember/ClayAudioEngine/bin/Debug
/AudioEngine/BasicElaborationUnits/Release
/AudioEngine/InputOutput/Release
SynAssember/.vs/SynAssember/v14/.suo
SynAssemblerInstaller/SynAssemblerSetup.exe
SynAssemblerInstaller/BasicAudioControls.dll
SynAssemblerInstaller/BasicElementsSynthFactory.dll
SynAssemblerInstaller/ClayAudioEngine.dll
SynAssemblerInstaller/InputOutputSynthFactory.dll
SynAssemblerInstaller/SynAssembler.application
SynAssemblerInstaller/SynAssembler.exe
SynAssemblerInstaller/SynAssembler.vshost.application
SynAssemblerInstaller/SynthPanel.dll
