################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudioEngine/AudioEngine/Debug
/AudioEngine/AudioEngine/x64/Debug
/AudioEngine/AudioEngine/x64/Release
/AudioEngine/AudioEngineUnitTest/x64/Debug
/AudioEngine/AudioEngineUnitTest/x64/Release
/AudioEngine/AudioEngineWinTest/x64/Debug
/AudioEngine/AudioEngineWinTest/AudioEngineWinTest
/AudioEngine/AudioEngineWinTest/AudioEngineWinTest/Debug
/AudioEngine/AudioEngineWinTest2/AudioEngineWinTest2/Debug
/AudioEngine/AudioEngineWinTest2/Debug
/AudioEngine/BasicElaborationUnits/Debug
/AudioEngine/BasicElaborationUnits/x64/Debug
/AudioEngine/Debug
/AudioEngine/InputOutput/Debug
/AudioEngine/Release
/SynAssember/BasicAudioControls/bin/Debug
/SynAssember/BasicEUSynthFactory/bin/Debug
/SynAssember/BasicEUSynthFactory/obj/x86/Debug
/SynAssember/BasicAudioControls/obj/Debug
/SynAssember/SynAssember/bin/Debug
/SynAssember/SynAssember/obj/x86/Debug
/SynAssember/SynthPanel/bin/Debug
/SynAssember/SynthPanel/obj/Debug
/SynAssember/SynthPanelTest/bin/Debug
/SynAssember/SynthPanelTest/obj/Debug
/SynAssember/SynAssember/bin
/SynAssember/InputOutputSynthFactory/obj/x86/Debug
/SynAssember/InputOutputSynthFactory/bin/Debug
/SynAssember/GeneralUtils/bin/Debug
/SynAssember/GeneralUtils/obj/Debug
/SynAssember/ClayAudioEngine/obj/x86/Debug
/SynAssember/ClayAudioEngine/bin/Debug
/AudioEngine/BasicElaborationUnits/Release
/AudioEngine/InputOutput/Release
SynAssember/.vs/SynAssember/v14/.suo
SynAssemblerInstaller/SynAssemblerSetup.exe
SynAssemblerInstaller/BasicAudioControls.dll
SynAssemblerInstaller/BasicElementsSynthFactory.dll
SynAssemblerInstaller/ClayAudioEngine.dll
SynAssemblerInstaller/InputOutputSynthFactory.dll
SynAssemblerInstaller/SynAssembler.application
SynAssemblerInstaller/SynAssembler.exe
SynAssemblerInstaller/SynAssembler.vshost.application
SynAssemblerInstaller/SynthPanel.dll
SynAssemblerInstaller/SynAssember.vshost.application
SynAssemblerInstaller/SynAssember.vshost.exe.config
SynAssemblerInstaller/SynAssembler.exe.config
SynAssemblerInstaller/SynAssembler.vshost.exe.config
AudioEngine/AudioEngine.VC.db
AudioEngine/AudioEngine.VC.VC.opendb
SynAssemblerInstaller/InputOutput.dll
SynAssemblerInstaller/BasicElaborationUnits.dll
SynAssemblerInstaller/AudioEngine.dll
WaveExpo/.vs/WaveExpo/v15/ipch/AutoPCH/dee56d532a2b605/WAVFILE.ipch
WaveExpo/.vs/WaveExpo/v15/ipch/AutoPCH/98eab99bd4512b31/TRANSPOSEDWAVE.ipch
WaveExpo/.vs/WaveExpo/v15/ipch/AutoPCH/5d59bd09f959a784/WAVEEXPO.ipch
WaveExpo/.vs/WaveExpo/v15/ipch/AutoPCH/1811759524a2d351/NEW_ARRAY.ipch
WaveExpo/.vs/WaveExpo/v15/Browse.VC.db
WaveExpo/.vs/WaveExpo/v15/Browse.VC (1).db
WaveExpo/.vs/WaveExpo/v15/.suo (1)
WaveExpo/.vs/WaveExpo/v15/.suo
WaveExpo/WaveExpo/x64/Debug/
WaveExpo/x64/Debug/
WpfApplicationStudySpline/WpfApplicationStudySpline/bin
WpfApplicationStudySpline/WpfApplicationStudySpline/obj
/WaveExpo/.vs/
/SynAssemblerInstaller/GeneralUtils.dll
/SynAssember/BasicAudioControls/obj/
/SynAssember/BasicEUSynthFactory/obj/
/SynAssember/ClayAudioEngine/obj/
/SynAssember/GeneralUtils/obj/
/SynAssember/InputOutputSynthFactory/obj/
/SynAssember/SynAssember/obj/
/SynAssember/SynthPanel/obj/
/SynAssember/SynthPanelTest/obj/
/SynAssember/.vs/
/ExpoZone/AudioWASAPI/.vs/
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/
/ExpoZone/AudioWASAPI/Debug/
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/AudioWASAPI.lastbuildstate
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/CL.command.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/CL.read.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/CL.write.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/link.command.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/link.read.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.tlog/link.write.1.tlog
/ExpoZone/AudioWASAPI/AudioWASAPI/AudioWASAPI.vcxproj
/ExpoZone/AudioWASAPI/AudioWASAPI/AudioWASAPI.vcxproj.user
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.Build.CppClean.log
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.log
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.obj
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/AudioWASAPI.pch
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/MyAudioSource.obj
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/stdafx.obj
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/vc141.idb
/ExpoZone/AudioWASAPI/AudioWASAPI/Debug/vc141.pdb
/ExpoZone/AudioWASAPI/AudioWASAPI/MyAudioSource.cpp
/ExpoZone/AudioWASAPI/Debug/AudioWASAPI.exe
/ExpoZone/AudioWASAPI/Debug/AudioWASAPI.ilk
/ExpoZone/AudioWASAPI/Debug/AudioWASAPI.pdb
/.vs/
